.icon-yonghu {
  font-size: .60rem;
  color: #605d5a !important;
}

.icon-search {
  font-size: .5rem;
  color: #605d5a;
  position: relative;
  left: 0.004rem;
}

.topbar {
  box-sizing: border-box;
  height: 0.9rem !important;
}

.tabs > .am-tabs-bar {
  background: #f2f2f2 !important;
  border-radius: .45rem;
  padding: .08rem 0.01rem;
}

.tabs > .am-tabs-bar > .am-tabs-tab {
  font-size: 0.40rem;
  background-color: #f2f2f2 !important;
  margin: 0 .08rem;
  height: 0.54rem;
  padding: 0.08rem 0.22rem;
  border-radius: .3rem;
  color: #666461 !important;
}

.tabs > .am-tabs-bar > .am-tabs-ink-bar, .tabs > .am-tabs-bar > .am-tabs-ink-bar-animated {
  background: none !important;
}

.tabs > .am-tabs-bar > .am-tabs-tab-active {
  background: #fff !important;
  color: #ed6460 !important;
}

.am-tabs-content {
  position: absolute;
  top: 0.9rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.male {
  width: 100%;
  display: flex;
}

.male * {
  width: 100%;
}

.male .am-tabs-tab-active {
  background: #fff !important;
  color: #ed6460 !important;
}

.male .am-tabs-ink-bar-animated {
  background: #ed6460 !important;
}

.female {
  width: 100%;
  height: 100%;
  display: flex;
  background: #00B2FF;
}

.publish {
  width: 100%;
  height: 100%;
  display: flex;
  background: #05F44F;
}
