.icon-yonghu {
  font-size: .70rem;
  color: #605d5a !important;
}

.icon-search {
  font-size: .5rem;
  color: #605d5a;
}

.topbar {
  box-sizing: border-box;
  height: 1.2rem !important;
}

.am-tabs-bar {
  background: #f2f2f2 !important;
  border-radius: .45rem;
  padding: .04rem 0;
}

.am-tabs-tab {
  font-size: .45rem;
  background-color: #f2f2f2 !important;
  margin: 0 .1rem;
  height: .4rem !important;
  padding: 0.08rem 0.22rem;
  border-radius: .1rem;
  color: #666461 !important;
}

.am-tabs-ink-bar, .am-tabs-ink-bar-animated {
  background: none !important;
}

.am-tabs-tab-active {
  background: #fff !important;
  color: #24221f;
}

.am-tabs-content {
  position: absolute;
  top: 1.20rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.am-tabs-content .male {
  width: 100%;
  display: flex;
  background: #ff00ff;
}

.am-tabs-content .female {
  width: 100%;
  height: 100%;
  display: flex;
  background: #00B2FF;
}

.am-tabs-content .publish {
  width: 100%;
  height: 100%;
  display: flex;
  background: #05F44F;
}
